{edoc_opts, [{preprocess, true}]}.
{erl_opts,[debug_info]}.
{cover_enabled, true}.
{sub_dirs,["rel"]}.
{deps, 
[
 {cowboy, "2.9.0"},
 {jiffy, "1.1.1"},
 {dates, ".*",{git, "git://github.com/nisbus/erlang-dates.git",{branch, master}}},
 {measurements, ".*", {git, "git://github.com/nisbus/erlang-measurements.git", {branch,master}}},
 {plists, ".*", {git, "git://github.com/nisbus/plists.git", {branch,"master"}}}
]}.
