{edoc_opts, [{preprocess, true}]}.
{erl_opts,[debug_info]}.
{cover_enabled, true}.
{sub_dirs,["rel"]}.
{deps, 
[
	{dates, ".*",{git, "git://github.com/nisbus/erlang-dates.git",master}},
	{measurements, ".*", {git, "git://github.com/nisbus/erlang-measurements.git", master}},
	{plists, ".*", {git, "git://github.com/nisbus/plists.git", "master"}},
	{jiffy, ".*", {git, "git://github.com/davisp/jiffy","master"}},
	{cowboy, ".*",{git, "git://github.com/extend/cowboy",master}}
]}.
