%%% -*- mode: erlang -*-
[
 {babelstat,[
	     {couchdb_connection,[
				  {base_url, 
"http://176.58.119.250:5984"},
				  {db_name, "babelstat"},
				  {design_name, "_design/babelstat_core"},
				  {view_name, "_view/babelstat_parameters"}
				 ]}
	    ]},

 %% SASL config
 {sasl, [
	 {sasl_error_logger, {file, "log/sasl-error.log"}},
	 {errlog_type, error},
	 {error_logger_mf_dir, "log/sasl"},      % Log directory
	 {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
	 {error_logger_mf_maxfiles, 5}           % 5 files max
	]}
].

